.titulo {
    text-align: center;
    padding: 35px;
}
.boton {
    margin-top: 20px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 5px;
    font-weight: 400;
}

.boton:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
