<div class="row" class="titulo">
    <h1> Análisis de sentimiento</h1>
</div>
<form>
    <div class="row">
        <div class ="col-md-4"></div>
        <div class ="col-md-4">
            <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe aquí..."></textarea>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class ="col-md-4"></div>
    </div>
    <div class="row">
        <div class ="col-md-4"></div>
        <div class ="col-md-4">
            <button type="submit" class="btn btn-primary boton">Analizar</button>
        </div>
        <div class ="col-md-4">
        </div>
    </div>
</form>