$azulOs: rgb(19, 35, 83);
.boton {
    margin-top: 2rem;
    color: #fff;
    background-color:$azulOs;
    border-color: rgb(19, 35, 83);
    border-radius: 5px;
    font-weight: 400;
}

.posicion-boton {
    text-align: end;
}

.boton:hover {
    color: #fff;
    background-color: #3c5a8f;
    border-color: #4b5463;
}

.face {
    display:block;
    margin:auto;
    margin-top: 3rem;
    width: 20rem;
    height: 20rem;
    margin-bottom: 3rem;
    transition: transform .2s;
    transform: scale(1.2); 
    animation-delay: 2s;

}