.boton {
    margin-top: 2rem;
    color: #fff;
    background-color:rgb(19, 35, 83);
    border-color: rgb(19, 35, 83);
    border-radius: 5px;
    font-weight: 400;
}

.posicion-boton {
    text-align: end;
}

.boton:hover {
    color: #fff;
    background-color: #3c5a8f;
    border-color: #4b5463;
}

.face {
    margin-top: 5rem;
    width: 10rem;
    height: 10rem;
    margin-bottom: 5rem;
}
