<div class="container">
<div class="row" class="titulo">
    <h1>Análisis de sentimiento</h1>
</div>
<form>
    <div class="row">
        <div class ="col-md-3"></div>
        <div class ="col-md-6">
            <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe aquí..."></textarea>
            <small id="emailHelp" class="form-text text-muted">A continuación se mostrará el sentimiento del texto</small>
        </div>
        <div class ="col-md-3"></div>
    </div>
    <div class="row">
        <div class ="col-md-3"></div>
        <div class ="col-md-6 posicion-boton">
            <button type="submit" class="btn boton">Analizar</button>
        </div>
        <div class ="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class ="col-md-1"></div>
        <div class ="col-md-2">
            <img class="face" src="../../assets/images/face-hate.PNG" alt="">
        </div>
        <div class ="col-md-2">
            <img class="face" src="../../assets/images/face-almost-hate.PNG" alt="">
        </div>
        <div class ="col-md-2">
            <img class="face" src="../../assets/images/face-normal.PNG" alt="">
        </div>
        <div class ="col-md-2">
            <img class="face" src="../../assets/images/face-happy.PNG" alt="">
        </div>
        <div class ="col-md-2">
            <img class="face" src="../../assets/images/face-super-happy.PNG" alt="">
        </div>
        <div class ="col-md-1"></div>
    </div>
</form>
</div>

<h1>Esto es una prueba: {{texto}}</h1>
<p *ngIf="texto=='1'">tu madre es muy guapa</p>
<p *ngIf="texto=='2'">tu madre es muy guapa</p>
<p *ngIf="texto=='3'">tu madre es muy guapa</p>
<p *ngIf="texto=='4'">tu madre es muy guapa</p>
<p *ngIf="texto=='5'">tu madre es muy guapa</p>
