<footer>
    <div class="container col-sm-12">
      <section>
        <a href="https://www.facebook.com/" target="_blank">
          <img class="rrss" src="../../assets/images/facebook.png" alt="Logo Facebook">
        </a>

        <a href="https://www.twitter.com/" target="_blank">
          <img class="rrss" src="../../assets/images/twitter.png" alt="Logo Titter">
        </a>

        <a href="https://www.instagram.com" target="_blank">
          <img class="rrss" src="../../assets/images/instagram.png" alt="Logo Instagram">
        </a>

        <a href="https://www.linkedin.com/" target="_blank">
          <img class="rrss" src="../../assets/images/linkedin.png" alt="Logo LinkedIn">
        </a>

        <a href="https://github.com/Juanal07/frontend-Softlusion-PC3" target="_blank">
          <img class="rrss" src="../../assets/images/github_64px.png" alt="Logo GitHub">
        </a>
        
        <a href="https://github.com/Juanal07/backend-entrega1-PC3" target="_blank">
          <img class="rrss" src="../../assets/images/github_64px.png" alt="Logo GitHub">
        </a>
      </section>
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Apúntate a la newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" placeholder="Email"/>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">Suscribirse</button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="">Link 1</a>
              </li>
              <li>
                <a href="#!" class="">Link 2</a>
              </li>
              <li>
                <a href="#!" class="">Link 3</a>
              </li>
              <li>
                <a href="#!" class="">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="">Link 1</a>
              </li>
              <li>
                <a href="#!" class="">Link 2</a>
              </li>
              <li>
                <a href="#!" class="">Link 3</a>
              </li>
              <li>
                <a href="#!" class="">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="">Link 1</a>
              </li>
              <li>
                <a href="#!" class="">Link 2</a>
              </li>
              <li>
                <a href="#!" class="">Link 3</a>
              </li>
              <li>
                <a href="#!" class="">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="">Link 1</a>
              </li>
              <li>
                <a href="#!" class="">Link 2</a>
              </li>
              <li>
                <a href="#!" class="">Link 3</a>
              </li>
              <li>
                <a href="#!" class="">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="" routerLink="">SoftLusion</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->