section{
    padding-top: .5rem;
    padding-bottom: .5rem;

    img{
        height: 2rem;
        width: 2rem;
        margin: 0.5rem;
    }
}

footer{
    background-color: black;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}