<div class= "container">
        <div class="row titulo">
          <h1>¿Qué es SoftLusion?</h1>
        </div>
<div class="control-section">
    <ejs-grid class="sortingenabled" [dataSource]='data' allowPaging='true' allowSorting='true' [enableHover]="false" [allowSelection]="true" [selectionSettings]="selectOptions" [editSettings]='editSettings' [toolbar]='toolbar'>
        <e-columns>
            <e-column type='checkbox' width='50'></e-column>
            <e-column field='OrderID' headerText='Order ID' width='150' textAlign='Right'></e-column>
            <e-column field='CustomerName' headerText='Customer Name' width='170'></e-column>
            <e-column field='OrderDate' headerText='Order Date' format="yMd" width='155' textAlign='Right'></e-column>
            <e-column field='Freight' headerText='Freight' width='120' format='C2' textAlign='Right'></e-column>
            <e-column field='ShippedDate' headerText='Shipped Date' format="yMd" width='150' textAlign='Right'></e-column>
            <e-column field='ShipCountry' headerText='Ship Country' width='150'></e-column>
        </e-columns>
    </ejs-grid>
</div>
    
</div>