<div class="container">
    <div class="row">
        <div class="col-md-2 tools">

            <img class="tool-image" src={{this.respuesta.shield}} alt="imagen">

        </div>
        <div class="col-md-4 tools">

            <p class="texto-bbdd">{{this.respuesta.name}}</p>
            <p class="texto-bbdd">{{this.respuesta.region}}</p>
            <p class="texto-bbdd">{{this.respuesta.province}}</p>
            <p class="texto-bbdd">CCAA-{{this.respuesta.ccaa}}</p>

        </div>
        <div class="col-md-2 tools">

            <button type="submit" class="boton">Con Poblacion</button>

        </div>
        <div class="col-md-4 tools">

            <p class="texto-bbdd">Altitude-{{this.respuesta.altitude}}m.s.n.m </p>
            <p class="texto-bbdd">Superficie-{{this.respuesta.surface}}KM2 </p>
            <p class="texto-bbdd">Poblacion-{{this.respuesta.population}}hab.</p>
            <p class="texto-bbdd">Densidad-{{this.respuesta.density}}hab./KM2 </p>

        </div>
    </div>
</div>