<div class="container">
    <div class="row titulo">
      <h1>Dashboard</h1>
    </div>
    <!-- <ng-template #rowTemplate let-data>
      <tr>
          <td class="rowphoto">
              <img src="./assets/grid/images/{{data.EmployeeID}}.png" alt="{{data.EmployeeID}}" />
          </td>
          <td class="details">
              <table class="CardTable" cellpadding="3" cellspacing="2">
                  <colgroup>
                      <col width="50%">
                      <col width="50%">
                  </colgroup>
                  <tbody>
                      <tr>
                          <td class="CardHeader">First Name </td>
                          <td>{{data.FirstName}} </td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Last Name</td>
                          <td>{{data.LastName}} </td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Title</td>

                          <td>{{data.Title}}</td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Birth Date</td>
                          <td>{{format(data.BirthDate)}}</td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Hire Date</td>
                          <td>{{format(data.HireDate)}}</td>
                      </tr>
                  </tbody>
              </table>
          </td>
      </tr>
  </ng-template> -->
  <div class="row">
    <h2>Datos de los usuarios registrados</h2>
    <div class="control-section">
        <ejs-grid class="sortingenabled" [dataSource]="data" allowPaging="true" allowSorting="true" [enableHover]="false" [allowSelection]="true" [toolbar]="toolbar">
          <e-columns>
            <e-column field="idUser" headerText="ID Usuario" width="20"></e-column>
            <e-column field="name" headerText="Nombre" width="70" textAlign="Center"></e-column>
            <e-column field="email" headerText="email" width="70" textAlign="Center"></e-column>
            <e-column field="dateSignIn" headerText="Fecha de registro" width="70" textAlign="Center"></e-column>
          </e-columns>
        </ejs-grid>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <h2>Ranking de municipios búscados</h2>
      <div class="control-section">
        <!-- <div class='e-mastertext'>Master Grid</div> -->
        <ejs-grid class="sortingenabled" [dataSource]="data1"  allowPaging="true" allowSorting="true" [enableHover]="false" [allowSelection]="true" [toolbar]="toolbar">
          <e-columns>
            <e-column field="name" headerText="Nombre Municipio" width="10"></e-column>
            <e-column field="numBusquedas" headerText="Número de búsquedas" width="10" textAlign="Center"></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <h2>Tiempo de navegación de cada usuario</h2>
      <div class="control-section">
        <ejs-grid class="sortingenabled" [dataSource]="data2" allowPaging="true" allowSorting="true" [enableHover]="false" [allowSelection]="true" [toolbar]="toolbar">
          <e-columns>
            <e-column field="name" headerText="Nombre usuario" width="30"></e-column>
            <e-column field="activos" headerText="Tiempo total logeado" width="10" textAlign="Center"></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
</div>