<div class="container">
  <div class="row titulo">
    <h1>Dashboard</h1>
  </div>
  <!-- <ng-template #rowTemplate let-data>
      <tr>
          <td class="rowphoto">
              <img src="./assets/grid/images/{{data.EmployeeID}}.png" alt="{{data.EmployeeID}}" />
          </td>
          <td class="details">
              <table class="CardTable" cellpadding="3" cellspacing="2">
                  <colgroup>
                      <col width="50%">
                      <col width="50%">
                  </colgroup>
                  <tbody>
                      <tr>
                          <td class="CardHeader">First Name </td>
                          <td>{{data.FirstName}} </td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Last Name</td>
                          <td>{{data.LastName}} </td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Title</td>

                          <td>{{data.Title}}</td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Birth Date</td>
                          <td>{{format(data.BirthDate)}}</td>
                      </tr>
                      <tr>
                          <td class="CardHeader">Hire Date</td>
                          <td>{{format(data.HireDate)}}</td>
                      </tr>
                  </tbody>
              </table>
          </td>
      </tr>
  </ng-template> -->
  <div class="row tablas">
    <div class="col-md-8">
      <h2>Datos de los usuarios registrados</h2>
      <div class="control-section">
        <ejs-grid class="sortingenabled" [dataSource]='data' allowPaging='true' allowSorting='true'
          [enableHover]="false" [allowSelection]="true" [selectionSettings]="selectOptions"
          [editSettings]='editSettings' [toolbar]='toolbar' allow-resize-to-fit="true" databound="databound">
          <e-columns>
            <e-column field="idUser" headerText="ID" width="5"></e-column>
            <e-column field="active" headerText="Activo" width="10" textAlign="Center">
              <ng-template #template let-data>
                <div class="imageActive">
                  <img class="imgAct" *ngIf="data['active']==0" src="../../../assets/images/red_circle_96px.png" />
                  <img class="imgAct" *ngIf="data['active']==1" src="../../../assets/images/green_circle_96px.png" />
                </div>
              </ng-template>
            </e-column>
            <e-column field="name" headerText="Nombre" width="15" textAlign="Left"></e-column>
            <e-column headerText="email" width="22" textAlign="Left">
              <ng-template #template let-data>
                <div class="url">
                    <a href="mailto:{{data.email}}">{{data.email}}</a>
                </div>
            </ng-template>
            </e-column>
            <e-column field="dateSignIn" headerText="Fecha de registro" width="20" textAlign="Center"></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Tiempo de navegación de cada usuario</h2>
      <div class="control-section">
        <ejs-grid class="sortingenabled" [dataSource]="data2" allowPaging="true" allowSorting="true"
          [enableHover]="false" [allowSelection]="true" [toolbar]="toolbar">
          <e-columns>
            <e-column field="name" headerText="Nombre usuario" width="30"></e-column>
            <e-column field="activos" headerText="Tiempo total logeado" width="30" textAlign="Center"></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Top municipios más búscados</h2>
      <hr>
      <div class="row">
        <div class="col-md-4 center">
          <img class="segundo-puesto" src="../../assets/images/second.png" alt="" />
          <h2>{{segundo_puesto}}</h2>
        </div>
        <div class="col-md-4 center">
          <img class="primer-puesto" src="../../assets/images/first.png" alt="" />
          <h1>{{primer_puesto}}</h1>
        </div>
        <div class="col-md-4 center">
          <img class="tercer-puesto" src="../../assets/images/third.png" alt="" />
          <h3>{{tercer_puesto}}</h3>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="row padBot">
    <div class="col-md-6">
      <h2>Usuarios registrados por mes</h2>
      <hr>
      <app-barchart></app-barchart>
    </div>
    <div class="col-md-6">
      <h2>Porcentaje de municipios scrapeados</h2>
      <hr>
      <app-piechart></app-piechart>
    </div>
  </div>
</div>