// .control-section.tabla2 .e-grid{
//     width: 50%;

// }
$azulOs: rgb(10, 18, 41);

.primer-puesto{
    width: 100%;
    margin-bottom: 2.5rem;
}

.segundo-puesto{
    width: 80%;
    margin-bottom: 2.5rem;
    margin-top:4rem;
}

.tercer-puesto{
    width: 60%;
    margin-bottom: 2.5rem;
    margin-top:7rem;
}

h2{
    font-weight: normal;
}

.center{
    // margin:auto;
    display: block;
    margin:auto;
    text-align: center;
    // align-items: center;
}

.imageActive{
    display: block;
    margin: auto;
}

.imgAct{
    width: 20%;
}

h1{
    font-size: 3rem;
    font-style: bold;
}

.padBot{
    margin-bottom: 2%;
    margin-top: 2%;
}

.tablas{
    box-shadow: 2px 2px 5px 5px rgb(202, 202, 202);
    background-color: white;
    border-color: rgb(150, 150, 150);
    border-radius:.2rem;
    // padding-left: 5px;
    // padding-right: 5px;
}

.titulo-tablas{
    padding-top: .8rem;
    text-align: center;
}

.control-section{
    margin:auto;
    padding-bottom: 1rem;
    margin-bottom: .2rem;
}

.boton1 {
    color: #fff;
    background-color:$azulOs;
    border-color: $azulOs;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 10px;
}

.botAct{
    text-align: center;
}

.fondo2{
    background-color: rgb(233, 233, 233);
    padding-bottom: 10px;
}