// .control-section.tabla2 .e-grid{
//     width: 50%;

// }
$azulOs: rgb(10, 18, 41);

.primer-puesto{
    width: 100%;
    margin-bottom: 2.5rem;
}

.segundo-puesto{
    width: 80%;
    margin-bottom: 2.5rem;
    margin-top:4rem;
}

.tercer-puesto{
    width: 60%;
    margin-bottom: 2.5rem;
    margin-top:7rem;
}

h2{
    font-weight: normal;
}

.center{
    // margin:auto;
    display: block;
    margin:auto;
    text-align: center;
    // align-items: center;
}

.imageActive{
    display: block;
    margin: auto;
}

.imgAct{
    width: 20%;
}

h1{
    font-size: 3rem;
    font-style: bold;
}

.padBot{
    margin-bottom: 5%;
    margin-top: 5%;
}

.tablas{
    margin-bottom: 3%;
}

.boton1 {
    color: #fff;
    background-color:$azulOs;
    border-color: $azulOs;
    border-radius: 5px;
    font-weight: 400;
}

.divAct{
    margin-bottom: 5%;
}

.botAct{
    text-align: center;
}