<app-buscador></app-buscador>

<!-- Primera seccion -->
<div class="container">
    <div class="row titulo">
        <h1>¿Qué es SoftLusion?</h1>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <p class="texto"> SoftLusion© es una compañía enfocada en ofrecer soluciones software mediante el uso de tecnologías punteras. Nuestra prioridad es la satisfacción de nuestros clientes con un alto grado de adaptabilidad según el usuario objetivo.</p>

                <p class="texto">Actualmente estamos siendo testigos del avance tecnológico presente en todos los sectores del planeta. La idea de trabajar 100% online, manteniendo la calidad del producto, está cada vez más cerca. Dejando atrás la necesidad de desplazamiento
                    u obligación de estar en un sitio en concreto, las personas tienen un mayor libertad a la hora de elegir dónde y cómo quieren vivir.</p>

                <p class="texto">El beneficio reside en la mejora de calidad de vida, reduciendo los costes que supone vivir en las grandes ciudades. Nuestra propuesta debe incluir la posibilidad de estudiar las ventajas e inconvenientes que supone la decisión de cambiar
                    el estilo de vida de una persona acercándose al mundo rural.</p>
            </div>
        </div>
    </div>
</div>

<!-- Segunda seccion -->
<div class="cambio-seccion"></div>
<div class="fondo-tools">
    <div class="container">
        <div class="row">
            <h1 class="titulo-2">Tecnologías</h1>
            <div class="col-md-4 tools">
                <div class="card">
                    <h4>Angular CLI</h4>
                    <img class="tool-image" src="../../assets/images/Angular.png" alt="">
                    <p class="texto-card">Nuestra solución va a consistir en el diseño de una página web desarrollada mediante el framework Angular, una de las tecnologías más punteras del mercado.</p>

                    <p class="texto-card">El resultado esperado es la creación de una web intuitiva, usable y accesible, buscando como objetivo principal la satisfacción de los usuarios al interactuar con el producto.</p>
                </div>
            </div>
            <div class="col-md-4 tools">
                <div class="card">
                    <h4>Python</h4>
                    <img class="tool-image" src="../../assets/images/Python.png" alt="">
                    <p class="texto-card">Mediante el uso de la técnica de Web Scraping se almacenará toda la información necesaria para su posterior tratamiento.</p>

                    <p class="texto-card">Mediante inteligencia artificial en concreto, análisis de sentimientos, transformando la información en datos de la valor para le empresa y para los usuarios.</p>
                </div>
            </div>
            <div class="col-md-4 tools">
                <div class="card">
                    <h4>SQL</h4>
                    <img class="tool-image" src="../../assets/images/SQL.png" alt="">
                    <p class="texto-card">Toda la información quedará almacenada en una base de datos y gracias a la tecnología PHP se mostrarán los datos deseados cuando el usuario haga uso del producto. </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Tercera seccion -->
<!-- <div class="row">
    <div class="contenedor-relativo">
        <img class="" src="../../assets/images/home-3.png" alt="">
        <div class="texto-encima container">

            <p class="texto">El beneficio reside en la mejora de calidad de vida, reduciendo los costes que supone vivir en las grandes ciudades.
            Nuestra propuesta debe incluir la posibilidad de estudiar las ventajas e inconvenientes que supone la decisión de cambiar el estilo de 
            vida de una persona acercándose al mundo rural.</p>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row titulo-3">
        <h1>¿Qué es el Análisis de Sentimiento?</h1>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <p class="texto">El análisis de sentimiento se refiere a los diferentes métodos de lingüística computacional que ayudan a identificar y extraer información subjetiva del contenido existente en el mundo digital (redes sociales, foros, webs, etc.). Gracias
                    al análisis del sentimiento, podemos ser capaces de extraer un valor tangible y directo, como puede ser determinar si un texto extraído de la red Internet contiene connotaciones positivas o negativas.</p>
                <p class="texto">El análisis de sentimientos, también conocido como minería de opinión, se trata de una tarea de clasificación masiva de documentos de manera automática, que se centra en catalogar los documentos en función de la connotación positiva o
                    negativa del lenguaje ocupado en el mismo.</p>
                <p class="texto">Con las redes sociales, los usuarios tienen hoy en día todo tipo de facilidades para mostrar sus opiniones sobre cualquier tema que deseen. Tener constancia sobre las opiniones referentes a una marca o producto y medir su impacto es actualmente
                    de vital importancia para todas las empresas, ya que es tu imagen lo que está en juego.</p>
                <p class="texto">A toda la información que se recopila de esta forma se le denomina minería de opinión (opinión mining) y gracias a ella, las empresas tienen una inmediata disponibilidad de la información deseada. Además, la minería de opinión no solo
                    permite responder “qué opinan los internautas sobre su propia marca o producto” sino que facilita, mediante los medios adecuados, obtener ventajas competitivas en diferentes ámbitos.</p>
                <p class="texto">En nuestro proyecto, hemos usado esta tecnología con el fin de analizar el sentimiento escondido en un texto introducido por el usuario. Su posterior uso estará relacionado con ser capaz de analizar el sentimiento de comentarios, reviews
                    de páginas de webs, noticias..., a la hora de realizar el proceso de Web Scraping.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="../../assets/images/home-10.png" class="img-home" alt="">
    </div>
</div>

