<div class="nav-bar fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark nav-dark">
            <div class="container-fluid">
                <a routerLink="">
                    <img class="logo" src="../../assets/images/logo.PNG" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="analisis" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sentiment analysis</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div class="nav-item navbar-nav me-auto mb-2 mb-lg-0">
                            <a class="nav-link" (click)="showLogin()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
                        </div>
                    </form>
                </div>
                <app-login></app-login>
            </div>
        </nav>
    </div>
</div>
              <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
                <div id="id01" class="modal">
                    <div class="modal-content animate">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="../../assets/images/mundo-digital.jpg" alt="Avatar" class="avatar">
                        </div>

                        <div class="container">
                            <p>Usuario</p>
                            <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User" [(ngModel)]="user"></textarea>

                            <p>Contraseña</p>
                            <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password" [(ngModel)]="password"></textarea>

                            <button (click)="sendLogin()" type="submit">Login</button>
                            <label>
                            <input type="checkbox" checked="checked" name="remember"> Recuerdame
                            </label>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
                            <span class="psw"><a href="crearregistro.html">Registrate</a></span>
                        </div>
                    </div>
                </div> -->