<div class="row">
    <nav class="navbar fixed-top">
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <img routLink="" class="logo" src="../../assets/images/logo.PNG" alt="">
                <!-- <p class="logo">Softlusion</p> -->
            </div>
            <div class="col-md-1">
                 <p routerLink="" class="nav-bar-item">Home</p>
            </div>
            <div class="col-md-1">
                <div class="rectangulo-item">
                    <p routerLink="analisis" class="nav-bar-item">Sentiment</p>
                </div>
            </div>
            <div class="col-md-7"></div>
        </div>
    </nav>
</div>