.navbar { 
    background-color:rgb(24, 30, 49);
    height:5rem;

}

.logo {
    width: 200px;
    height: auto;
    display:block;
    margin: center;
 /*    font-family: Tahoma, sans-serif;
    color:white;
    font-size:50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif; */
}

.nav-bar-item {
    color:white;
}