.gris{
    padding-top: 0px;
    align-items: center;
    background-color: gray;
    text-align: center;
    z-index: 1;
    position: relative;
}

h4 {
    padding-top: 7rem;
    padding-bottom: 6rem;
}

.barraBuscador{
    z-index: 3;
    position: relative;
    top: -25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}