/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400&display=swap');

.titulo {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.curva {
    padding: 3rem 0;
    background: linear-gradient(165deg, #f7f5fb 50%, #fff 50%);
}