<div class="container">
<!-- Primera seccion -->
    <div class="row titulo">
        <h1>¿Qué es SoftLusion?</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <p class="texto"> SoftLusion© es una compañía enfocada en ofrecer soluciones software mediante el uso de tecnologías punteras. 
                Nuestra prioridad es la satisfacción de nuestros clientes con un alto grado de adaptabilidad según el usuario objetivo.</p>
                
                <p class="texto">Actualmente estamos siendo testigos del avance tecnológico presente en todos los sectores del planeta. La idea de trabajar 100% online, manteniendo la calidad del producto, está cada vez más cerca.
                Dejando atrás la necesidad de desplazamiento u obligación de estar en un sitio en concreto, las personas tienen un mayor libertad a la hora de elegir dónde y cómo quieren vivir.</p>

                <p class="texto">El beneficio reside en la mejora de calidad de vida, reduciendo los costes que supone vivir en las grandes ciudades.
                Nuestra propuesta debe incluir la posibilidad de estudiar las ventajas e inconvenientes que supone la decisión de cambiar el estilo de vida de una persona acercándose al mundo rural.</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="row">
        <div class="col-md-6 tools">
            <img clas="foto-home" src="../../assets/images/home-1.png" alt="">
        </div>
        <div class="col-md-6 tools">
            <img clas="foto-home" src="../../assets/images/home-2.png" alt="">
        </div>
    </div>
</div>
<!-- Segunda seccion -->
<div class="fondo-tools">
    <div class="container">
        <div class="row">
            <h1 class="titulo-2">Tecnologías</h1>
            <div class="col-md-4 tools">
                <div class="card">
                    <h4>Angular CLI</h4>
                    <img class="tool-angular" src="../../assets/images/Angular.png" alt="">
                    <p class="texto-card">Nuestra solución va a consistir en el diseño de una página web desarrollada mediante el framework Angular, 
                        una de las tecnologías más punteras del mercado.</p>

                    <p class="texto-card">El resultado esperado es la creación de una web intuitiva, 
                        usable y accesible, buscando como objetivo principal la satisfacción de los usuarios al interactuar con el producto.</p>
                </div>
            </div>
            <div class="col-md-4 tools">
                <div class="card">
                    <h4>Python</h4>
                    <img class="tool-python" src="../../assets/images/Python.png" alt="">
                    <p class="texto-card">Mediante el uso de la técnica de Web Scraping se almacenará toda la información necesaria para su posterior tratamiento.</p>

                    <p class="texto-card">Mediante inteligencia artificial en concreto, 
                        análisis de sentimientos, transformando la información en datos de la valor para le empresa y para los usuarios.</p>
                </div>
            </div>
            <div class="col-md-4 tools">
                <div class="card">
                    <h4>SQL</h4>
                    <img class="tool-sql" src="../../assets/images/SQL.png" alt="">
                    <p class="texto-card">Toda la información quedará almacenada en una base de datos y gracias a la tecnología PHP se mostrarán los datos deseados 
                        cuando el usuario haga uso del producto. </p>
                </div>
            </div>
        </div>
    </div>  
</div>
