<div class="container">
    <div class="row" class="titulo">
        <h1>Análisis de sentimiento</h1>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Escribe aquí..." [(ngModel)]="textArea"></textarea>
            <small id="emailHelp" class="form-text text-muted">A continuación se mostrará el sentimiento del
                texto</small>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3 posicion-boton">
            <button (click)="analizar()" type="submit" class="btn boton">Analizar</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3 posicion-boton">
            <button (click)="agregar()" type="submit" class="btn boton">Agregar</button>
        </div>
    </div>
    <div class="bloque-blanco">
        <div class="row">
            <div class="col-md-2">
                <div *ngFor="let item of tuplas;" [ngClass]="{'rojo': item.resultado >= 4, 'amarillo': item.resultado == 3, 'verde': item.resultado == 2, 'verde': item.resultado == 1}">{{item["text"]}}</div>
            </div>
            <div class="col-md-2">
                <div *ngFor="let res of tuplas;">{{res["resultado"]}}</div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <p *ngIf="this.media >= 0">La media es: {{this.media}}</p>
        </div>
    </div>
</div>